footer {
  min-height: 100px;
}

.jumbotron {
  padding-top: 4rem;
  background-color: #e2edff;
}

.profile {
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
}

/* .font-arbath {
  text-align: left;
} */

#about {
  padding-top: 4rem;
}

#project {
  padding-top: 4rem;
}
#contact {
  padding-top: 4rem;
  background-color: #e2edff;
}

/* bisa juga pakai css dibawah */
/* section{
  padding-top: 4rem;
} */
